// Color variables for default color Web SDK UI
$white = #ffffff;
$darkWhite = #fafafa;
$lightGrey = #e8e8e8;
$mediumGrey = #979797;
$darkGrey = #666666;
$green = #94ca62;
$blue = #34b6ff;
$red = #ff2424;

// Border radius, used on several thing on UI like triger button and widget window
$big-border-radius = 19px;
$small-border-radius = 8px;

